<script>
  // Set theme based on localStorage or system preference
  const bodyClassList = document.querySelector('body').classList;
  const theme = localStorage.theme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
  bodyClassList.toggle('theme-dark', theme === 'dark');

  const darkModeToggle = document.querySelector("#theme-toggle");

  // Toggle theme between light and dark
  function toggleTheme() {
    bodyClassList.toggle("theme-dark");
    updateThemeState();
  }

  // Update theme state in localStorage and toggle button aria-checked attribute
  function updateThemeState() {
    const isDarkMode = bodyClassList.contains("theme-dark");
    localStorage.setItem("theme", isDarkMode ? "dark" : "light");
    darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
  }

  // Initialize the theme toggle button's aria-checked attribute
  function initializeTheme() {
    darkModeToggle.setAttribute("aria-checked", bodyClassList.contains("theme-dark").toString());
  }

  // Toggle theme on click of toggle button
  darkModeToggle.addEventListener("click", toggleTheme);

  // Toggle theme on 'd' or 'D' key press unless typing in input/textarea
  window.addEventListener('keydown', (e) => {
    if (!['INPUT', 'TEXTAREA'].includes(document.activeElement.tagName) && (e.key.toLowerCase() === 'd') && !e.ctrlKey && !e.metaKey) {
      toggleTheme();
    }
  });

  // Initialize the theme on page load
  initializeTheme();
</script>
