@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: bold;
  src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo Regular'), url('../fonts/Cardo-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: normal;
  src: local('Cardo Italic'), url('../fonts/Cardo-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: bold;
  src: local('Cardo Bold'), url('../fonts/Cardo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Literata Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Literata Bold'), url('../fonts/Literata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Literata Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Literata Regular'), url('../fonts/Literata-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/InterDisplay-Light.woff2') format('woff2');
}


@font-face {
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Inter Bold'), url('../fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Semi-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Inter Semi-Bold'), url('../fonts/InterDisplay-SemiBold.woff2') format('woff2');
}
