// set custom hex colors 

// backgrounds -> paper & bg from flexoki
$siteBgColorCustom: #FFFCF0;
$buttonHoverTextColorCustom: #FFFCF0;
$sidebarBgColorCustom: #F2F0E5;

// primary
$textColorCustom: #100F0F;
$headingColorCustom: #100F0F;

// secondary text color
$sidebarTextColorCustom: #6F6E69;
$sidebarLinkColorCustom: #6F6E69;
$navLinkColorCustom: #6F6E69;

// tertiary text color
$footerTextColorCustom: #B7B5AC;

// emphasis text color
$headlineColorCustom: #AD8301;
$bodyLinkColorCustom: #AD8301;
$buttonHoverBgColorCustom: #AD8301;

// ui color
$borderColorCustom: #E6E4D9;
$buttonBgColorCustom: #E6E4D9;
$buttonTextColorCustom: #100F0F;











